{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="page-container" class="col-md-8 coloumn right vhm home-page" style="background:url("{{ asset('assets/images/bg/01.jpg') }}");">
    <div class="inner-container home-pg vhm-item">

        <div class="page" id="home">
            <div class="container align-center">




                <div class="commande">

                </div>
                <form method="post" class="commande-form clear form-field-wrapper">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            {% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                        </div>
                    {% endif %}
                    <div class="tagline">
                        <h1 class="hd" style="color: white">Please sign in</h1>
                        <span class="separator"><span></span></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1 class="h3 mb-3 font-weight-normal"></h1>
                            <div class="form-group">
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus placeholder="Login" autocomplete="off">
                            </div>
                            <div class="form-group mt20">
                                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="mot de passe">
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html
                            #}
                            <div class="checkbox mb-3 text-left mb20">
                                <label style="color: white">
                                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                </label>
                            </div>


                            <button class="btn btn-color mt30" type="submit">Se connecter</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class="inner-container ajax-pg vhm-item">

    </div>
    </div>

{% endblock %}
